.spicy-starter {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
 
}



.spicy-starter img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  align-items: center;
}

.spicy-starter h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.spicy-starter .description {
  margin-bottom: 5px;
  color: #777;
  align-items: center;
}

.spicy-starter .price,
.spicy-starter .quantity {
  margin-bottom: 5px;
  font-size: 16px;
  align-items: center;
  
}

